demoproject/src/main/mule/demoproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6d092657-2173-4ede-83d5-3756a1de55e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoprojectFlow" doc:id="5b0e56fc-2a81-42fe-8dac-eaceee78ecb1" >
		<http:listener doc:name="Listener" doc:id="d0c414b3-2101-40d1-93b5-19709d27e4d5" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="0a19e075-3deb-4f90-9f27-92812aa53416" message="#[payload]"/>
	</flow>
</mule>
